@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f4f4fc;
  @apply text-bolder
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box-features:last-child {
  border: none !important;
}

.primarybtn {
  @apply bg-bluedoc border px-3 py-2 text-xs text-white hover:bg-white hover:text-bluedoc hover:border hover:border-bluedoc;
}

.searchbtn {
  @apply bg-bluedoc px-6 border py-3 text-xs text-white font-semibold rounded-md;

}

.homebtn {
  @apply bg-bluedoc px-8 border py-3 text-xs text-white font-semibold rounded-md hover:bg-white hover:text-bluedoc hover:border hover:border-bluedoc;
}

.secondarybtn {
  @apply bg-white px-3 py-2 text-xs text-bluedoc border border-bluedoc hover:border hover:bg-bluedoc hover:text-white;
}

.searched_list::-webkit-scrollbar {
  width: 2px;
  padding: 20px;
}

.searched_list::-webkit-scrollbar-thumb {
  background: #0F2F64;
}

.body_search input {
  border: 1px solid #185FA0;
  padding: 10px;
  border-radius: 18px;
}

.body_search select {
  border: 1px solid #185FA0;
  padding: 10px;
  border-radius: 18px;
}

.body_search .searched_list {
  border-bottom: 1px solid #185FA0 !important;
  border-radius: 10Px !important;
  border-top: none !important;
}

.bottom-link::after {
  content: '';
  display: block;
  width: 0;
  height: 1px;
  background: #185FA0;
  transition: width .3s;
}

.bottom-link:hover::after {
  width: 100%;
}